<h1>Challenges</h1>
{{challenge-list
  challenges=model.challenges
  votes=model.votes
  categories=model.categories
  selectedCategory=selectedCategory
  onDeleteChallenge=(route-action 'onDeleteChallenge')
  onCategoryChange=(action (mut category))
  onUpvote=(route-action 'onUpvoteChallenge')
  onRevokeVote=(route-action 'onRevokeVote')
}}
