{{#lf-form rules=rules onSubmit=(action onSubmit formData) as |v formValid|}}
  {{lf-input
    label="Title"
    name="title"
    class="js-title"
    property=category.title
    validate=v
    on-update=(action (mut formData.title))
  }}
  {{lf-input
    label="Icon"
    name="icon"
    class="js-icon"
    property=category.icon
    validate=v
    on-update=(action (mut formData.icon))
  }}

  <button type="submit" class="btn btn-primary" disabled={{not formValid}}>
    Save
  </button>
{{/lf-form}}
